body {
    background-color: #00A2E9;
    color: #f1f1f1;
}
.navbar-nav, .nav, li  {
    height: 20px;
    padding: 0;
}

input[type="text"] {
    background-color: #dddddd;
    border-radius: 5px;
}

.row1, .opts{
    margin-left: 30px;
}
.row1 input,
input[type="date"],
select, option
{
    border-radius: 5px;
    color: #333333;
}
.mainTable {
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 5px 5px 5px 5px ;
    margin: auto;
    margin-top: 10px;
    width: 100%;
    color: #333333;
}
table {
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}
table table tr {
    border: 1px solid black ;
}
.roomName {
    width: 150px;
    font-weight: 700;
}
#search {
    color: #00A2E9;
}
.fa-bars, .fa {
    color: #00A2E9;
}




#orderScreen {
    background: url('/img/loading.gif') no-repeat 5px 8px
padding-left: 32px;
}


.orderScreenWindows .ui-dialog-titlebar-close {
    display: none;
}

.orderTable , .orderTable tr, .orderTable td, #ui-datepicker-div tr, #ui-datepicker-div table, #ui-datepicker-div td
{
    border: none;
}

.ui-widget-content {
    background: #FFFFFF; !important;
}

table td.selected { background-color:#003eff; }
table td.booked { background-color: #009933; }