body {
    background-color: #00A2E9;
    color: #f1f1f1;
}
.navbar-nav, .nav, li  {
    height: 20px;
    padding: 0;
}

input[type="text"] {
    background-color: #dddddd;
    border-radius: 5px;
}

.row1, .opts{
    margin-left: 30px;
}
.row1 input,
input[type="date"],
select, option
{
    border-radius: 5px;
    color: #333333;
}
.mainTable {
    border-radius: 10px;
    background-color: #f1f1f1;
    padding: 5px 5px 5px 5px ;
    margin: auto;
    margin-top: 10px;
    width: 98%;
    color: #333333;
}
table {
    margin: 0 auto;
    width: 100%;
    margin-top: 15px;
    border-radius: 5px;
}
table table tr {
    border: 1px solid black ;
}
.roomName {
    width: 200px;
}
#search {
    color: #00A2E9;
}
