.blue_block {
	background-color: #00A2E9;
	text-align: center;
	color: white;
	padding-top: 40px;
	padding-bottom: 20px;

}

#button_hr {
	position: absolute;
	background-color: #FFF;
	color: #696969;
	border: 1px solid #D3D3D3;
	border-radius: 5px;
	padding: 7px 30px;
	font-size: 14px;
	line-height: 1.8;

}
#button_hr:hover {
	background-color: #00A2E9;
	color: #FFF;
}
img {
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
}

li {
	margin-top: 10px;
	margin-bottom: 10px;
	text-align: left;
}
.client_block {
	border-radius: 10px;
	border: 1px solid #D3D3D3;
	padding: 30px;
	height: inherit;

}
.client_block:hover {
	border: 1px solid #00A2E9;
}
.hotel_logo {
	border: 1px solid #00A2E9;
	border-radius: 100%;
	margin: 0 auto;
}
.hotel_name {
	color: #00A2E9;
	font-size: 1em;
}
.hotel_city {
	color: #000;
	margin-top: 30px;
	margin-bottom: 15px;
	text-align: left;
}
#happy_clients {
	position: relative;
	top: 30px;
	/*right: 300px;*/
}
.hotel_comments {
	color: #696969;
	text-align: left;
	font-family: cursive;
}

#price {

	font-size: 2em;

}

#big-price {
	font-size: 5em;
	vertical-align: middle;
}

h1 {
	font-size: 5em;
}

h2 {
	font-size: 3em;
}

#product li, .blue_block li {
	font-size: 1.5em;
}

ul li a {
    color: #F6F6F6;
}
.features-btn {
	position: relative;
	bottom: 0;
}

