body {
    padding-top: 20px;
    background-color: #00A2E9;
}
h1 {
    color: #f1f1f1;
    font-size: 4em;
}
h2, label {
    color: #626262;
}
.white {
    background-color: #f1f1f1;
    padding: 30px;
    border-radius: 10px;
}

input[type="email"] {
    height: 50px;
}
textarea {
    width: 100%;
    border-radius: 3px;
}

a {
    color: #66EA66;
}

a:hover {
    color: #909090;
}
#signup_message {
    color: #00A2E9;
}

li, footer {
    color: #f1f1f1;
}
